* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 400;
}

:root{
  --bg: #222222;
  --color: #E7E7E7;
  --grey: #EAEAEA;
  --btn: #d4ff66;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--color);
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
  position: absolute;
  inset: 0 0 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.aspectholder {
  padding-top: 150%;
  height: 0;
  position: relative;
  width: 100%;
  background-color: var(--grey);
}
.image-wrapper {
  width: 60px;
  height: fit-content;
  margin-right: 10px;
}


.movie-card {
  grid-column: span 12;
  display: flex;
  border-bottom: 1px solid var(--color);
  padding: 8px;
}
.movie-card:nth-child(3n) {
  border-right: 0px;
}
.movie-card h3 {
  font-size: 14px;
}
.watchlist-image-wrapper {
  width: 120px;
  height: fit-content;
  margin-right: 10px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-row-gap: 10px; */
}

/* Result card */
.result-card {
  list-style-type: none;
  grid-column: span 6;
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid var(--color);
  padding: 8px 8px;

}
.result-card:hover {
  transition: background-color 0.4s ease;
  background-color: #2a2a2a;
}

.result-card:nth-child(odd) {
  border-right: 1px solid var(--color);
}

.result-card h3 {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}
.movie-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rating {
  border: 1px solid var(--color);
  border-radius: 50px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
}


/* Action Bar */
.action-bar {
  border-bottom: 1px solid var(--color);
  padding: 12px 8px;
}

.search-input {
  background-color: transparent;
  color: currentColor;
  border: 1px solid var(--color);
  width: calc(100% - 24px);
  display: block;
  padding: 6px 12px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: inherit;
}

/* header */
header {
  border-bottom: 1px solid var(--color);
  padding: 18px 8px;
}
header ul {
  display: flex;
  text-transform: uppercase;
  justify-content: flex-end;
}
header ul li {
  list-style-type: none;
}
header ul li:not(:last-of-type) {
  margin-right: 25px;
}

.add-btn {
  background-color: var(--color);
  color: var(--bg);
  width: fit-content;
  border-radius: 25px;
  padding: 0px 5px;
}

.action-buttons button:not(:last-of-type) {
margin-right: 6px;
}

.add-to-list {
  cursor: pointer;
  background-color: var(--color);
  color: var(--bg);
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid var(--color);
  transition: opacity 0.4s ease, color 0.4s ease, background-color 0.4s ease;
}
.add-to-list:disabled {
  opacity: 0.5;
  background-color: var(--bg);
  color: var(--color);
}

.movie-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-header {
  padding: 10px 8px;
  border-bottom: 1px solid var(--color);
  text-align: center;
  text-transform: uppercase;
}

.empty {
  padding: 20px 8px;
}
.empty a {
  margin-left: 8px;
  height: fit-content;
}
.empty h2 {
  text-transform: uppercase;
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  background-color: var(--color);
  color: var(--bg);
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}